*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


body{
    background-image: url(/assets/image/portada2.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

.mainGrid{
    width: 50%;
    height: 100vh;
    background-color: #c7e7ce;
    display: grid;
    grid-template-rows: 2fr 2fr;
    padding: 0 3%;
    place-items: center;
}

header{
    text-align: center;
}

h1{
    color: #eff15e;
    font-size: 60px;
    font-family: 'Sacramento', cursive;
    padding-top: 15% ;
    margin-bottom: 10%;
}

p{
    font-size: 28px;
    font-family: 'lobster';
}



a{
    text-decoration: none;    
    font-size: 20px;
  }
 

  ul{
      
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: flex-start;
  }

  li{
      width: 40%;
      margin-top: 70px;
      list-style-type: none;
      margin: 5%;

      border-radius: 50px;
      padding: 20px 90px;
      text-align: center;
  
      color: #fff;
      background-color: #289E42;
      opacity: 75%;
  }


  @media (max-width: 320px) {
        body{
            background-image: url(/assets/image/portada2.jpg);
            background-size: cover;
            background-position: center ;
        }


        .mainGrid{
            background: none;
            width: 100%;
        }

        header{
            display: flex;
            flex-direction: column;
            
        }


        h1{

            font-size: 30px;
        }

        p{
            font-size: 14px;
            color: white;
        }


        a{
            font-size: 18px;
        }
        


        li{
            width: 100%;
        }   
                
}
  