*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


body{
    background-image: url(/assets/image/portada2.jpg);
    background-repeat: no-repeat ;
    background-position: right;
    padding: 50px;
}

header{
    width: 40%;
    text-align: center;
}

h1{
    color: #EEF071;
    font-size: 60px;
    font-family: 'Sacramento', cursive;
    padding-top: 15% ;
    margin-bottom: 15%;
}

p{
    justify-content: center;
    font-size: 28px;
    font-family: 'lobster';
    
}

a{

    text-decoration: none;
    
  }
  #texto{
      color: black;
      text-align: center;
  }

  ul{
      
      width: 40%;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: left;
     align-items: flex-start;
  }

  li{
      width: 40%;
      margin-top: 70px;
      list-style-type: none;
      margin-left: 20px;

      border-radius: 50px;
      padding: 20px 90px;
      text-align: center;
  
      color: #fff;
      background-color: #289E42;
      opacity: 90%;
  }

