*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    resize: none;

   }
   
   
html ,body{
       background-color: rgb(228, 228, 228);
       height: 100%;
       width: 100%;
   }

/*
   header{
    background-color: #cda4e7;
    height: 10%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
*/

   .logo{
    height: 95px;
    border-radius: 200px;
    }

    nav{
        width: 30%;
    }
/*
    nav ul{
        display: flex;  
        flex-direction: row-reverse;
        justify-content: space-between;    
        margin-bottom: 0;
        padding-left: 0;
    }
 */
    li{
        list-style: none;
    }
   nav ul li a{
       text-decoration: none;
       transition: all .5s ease;
       font-weight: 5;
       font-size: 18px;
   }
   nav ul li a:hover{
    color: #000;
    background-color: #c590e5;
    border-radius: 10px;  
}

.gridContacto{
    display: grid;
    grid-template-rows: 2fr 2fr;
}

form {

    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  
  form input[type="button"] {
    padding: 0.5em 1em;
    width: 10%;
    border: none;
    cursor: pointer;
  }

input[type=text]{
    height: 3em;
}

input[type=text] , textarea{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 45%;
    margin:10px 0;
    border-radius: 10px;
    border: 0px;
}



.socialMedia{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.iconSocial{
    margin:  0 10px;
    height: 2.5rem;
    width: 2.5rem;
}



.igLogo{
    height: 2.5rem;
    width: 2.5rem;
    background: radial-gradient(
        circle at 33% 100%,
        #fed373 4%,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf);
        border-radius: 30%;
        position: relative;
}


.igLogo:before{
    content:'' ;
    border: 0.2rem solid #fff;
    border-radius: 30%;
    width: 1.7rem;
    height: 1.7rem;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}

.igLogo:after{
     content:'' ;
     border: 0.3rem solid #fff;
     border-radius: 90%;
     width: 0.5rem;
     height: 0.5rem;
     left: 0;
     right: 0;
     position: absolute;
     margin: auto;
     top: 0;
     bottom: 0;
}

.igLogoSpan{
 content:'' ;
 border: 0.15rem solid #fff;
 border-radius: 100%;
 width: 0;
 height: 0;
 top: 0.7rem;
 right: 0.7rem;
 position: absolute;
 margin: auto;
}

#foto-SobreMi{
    margin-top: 10%;
    margin-left: 3%;
    width: 25%;
    height: 60%;
}

#texto-sobremi{
    display: inline;
}






/*aca empieza SobreMi.html*/

.gridSobreMi{
    display: grid;
    grid-template-columns: 30% 70% ;
    grid-template-rows: 33% 33% 33% ;
    grid-template-areas: "imagen estudios"
                                        "imagen habilidades"
                                        "imagen  comoSoy";

    gap: 2%;
}



.divImagenSobreMi{
    grid-area: imagen;
}

.imagenSobreMi{
    width: 100%;
}


  .estudios {
    grid-area: estudios;
}

.habilidades {
    grid-area: habilidades;
}
 .acercaDeMi {
    grid-area: comoSoy;
}

div ul li {
    font-size: 20px;
}

div p, div h3{
    margin: 10px 0;
    font-size: 22px;
}

.trabajosGrid{
    display: grid;
            grid-template-columns: 10% 75%;
            grid-template-rows: repeat(5,20%);
            padding-left: 20px;
            gap: 50px;
}



                           
.diseño{
    width: 150px;
    height: 150px;

}
        

.gridMarcas{
    display: grid;
    grid-template-columns: repeat(4,20%);
    grid-template-rows: 100% 100%;
        justify-content:space-around;
}



@media (max-width: 320px) {
            .logo{
                display: none;
            }

            header{
                height: 10%;  
                padding: 0;            
            }
            nav{
                width: 100%;               ;
            }

            
            nav ul li a{
                font-size: 14px;
                font-weight: 0;
            }

            form input[type="button"] {
                width: 100%;
            }

            input[type=text] , textarea{   
                width: 100%;
            }

            .gridSobreMi{
                display: grid;
                grid-template-rows: 25% 25% 25% 25% ;

                grid-template-areas: "imagen imagen "
                                                    "estudios estudios  "
                                                    "habilidades habilidades"
                                                    "comoSoy comoSoy" ;

                
            }

            
.divImagenSobreMi{
    grid-area: imagen;

}

.imagenSobreMi{
    height: 100%;
    object-fit:scale-down;
}

.estudios {
    grid-area: estudios;
}

.habilidades {
    grid-area: habilidades;
    display: flex;
    flex-direction: column;
    
}
 .acercaDeMi {
    grid-area: comoSoy;
}

.trabajosGrid{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.gridMarcas{
    display: flex;
    flex-direction: column;
}

            
}
